/* CSS: img must have max-width:100% and height:auto display:block 
properties to resize responsively, relative to the width of its parent element, 
without exceeding its original size -->

img element should be centered within its parent element */

body {
    background-color: #003b6fda ;
    font-family: Khand,sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
    padding: 0 ;
    margin: 0;
}

#img-div {
    border: 3px solid #0b0a32;
    border-radius: 20px;
    padding: 0;
    margin: 0; 
    background-color: #1206;
}

figcaption {
    text-align: center;
    color: #a7b0ae;
    text-shadow: 1px 1px #0b0a32;
    width: fit-content;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 5px;
}



footer {
    font-size: x-small;
}

